<!-- ===== Start of Footer ===== -->
<footer>
    <!-- Start of Top Footer -->
    <div class="top-footer">
        <div class="container">

            <!-- Start of Footer Information & Links Section -->
            <div class="row ptb60 footer-info">

                <!-- 1st Footer Column -->
                <div class="col-sm-4 about">
                    <a href="index"><img src="images/SafeHomeCRSinfondo.png" alt=""></a>
                    <p class="pt30">Seguridad al alcance de su mano.<br><br>¡En SafeHomeCR nos preocupamos <br> por la seguridad
                        de su hogar!</p>
                </div>

                <!-- 2nd Footer Column -->
                <div class="col-sm-4">
                    <h4>Servicios</h4>
                    <ul class="footer-links nopadding mt30">
                        <li><a 
                            <% if (role === 'ADMIN') { %>
                                href="ProductosAdmin" 
                            <% } else { %> 
                                href="Productos" 
                            <% } %> 
                                role="button">
                                Productos</a></li>
                        <li><a href="Reparaciones">Reparaciones</a></li>
                        <li><a href="Cotizaciones">Cotización</a></li>
                    </ul>
                </div>

                <!-- 3rd Footer Column -->
                <div class="col-sm-4">
                    <h4>Contacto</h4>
                    <ul class="footer-links nopadding mt30">
                        <li><i class="fa fa-phone"></i>2548 0137</li>
                        <li><i class="fa fa-envelope"></i>ventas@safehomecr.com</li>
                        <li><i class="fa fa-map-marker"></i>Cartago, Costa Rica</li>
                    </ul>
                </div>
            </div>
            <!-- End of Footer Information & Links Section -->

        </div>
    </div>
    <!-- End of Top Footer -->

    <!-- Start of Copyright Section -->
    <div class="copyright ptb20 text-center">
        SafeHomeCR 2022. Todos los derechos reservados
    </div>
    <!-- End of Copyright Section -->

</footer>
<!-- ===== End of Footer ===== -->


<!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/simple-expand.min.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.ajaxchimp.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.easypiechart.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/custom.js"></script>

</body>

</html>