<%- include('./partials/header') %>


    <!-- ===== Start of Page Title ===== -->
    <section class="page-title ptb50 overlay-black">
        <div class="container">
            <h2 class="uppercase">Acerca de nosotros</h2>
            <div class="breadcrumbs pt10">
                <h5><a href="index">Inicio</a> / Acerca de</h5>
            </div>
        </div>
    </section>
    <!-- ===== End of Page Title ===== -->



    <!-- ===== Start of About Page Section ===== -->
    <section class="about-page ptb80">
        <div class="container">
            <div class="section-title">
                <h2>¿Quienes somos?</h2>
                <p style="text-transform: none;">Safe Home es una empresa 100% costarricense especializada en resguardar su hogar/empresa y enfocada a brindar soluciones tecnológicas de automatización para el mercado Residencial, Comercial e Industrial.</p>
            </div>

            <div class="col-md-6">
                <!-- Vimeo Video -->
                <div class="embed-responsive embed-responsive-16by9">
                    
                    <img src="images/img/Home-Safety-Tips.jpg" alt="" style="width: 100%;">
                </div>
            </div>

            <div class="col-md-6 info-text pt20">
                <p>Estamos trabajando en la implementación de aplicaciones de automatización, dedicada específicamente a la seguridad, al desarrollo y comercialización de sistemas de fácil control por el usuario, que implican manejo de elementos tales como:</p>
                <ul>   
                    <li>El control de iluminación</li>
                    <li>Dispositivos de seguridad</li>
                    <li>Cámaras de vigilancia</li>
                    <li>Irrigación</li>
                    <li>Apertura de portones y puertas</li>
                    <li>Detección de fugas</li>
                    <li>Reación de escenas</li>
                    <li>Detección de intrusión</li>
                    <li>Entre otros</li>
                </ul>
            </div>
            
        </div>
    </section>
    <!-- ===== End of About Page Section ===== -->


    <!-- ===== Start of Team ===== -->
    <section id="team">
        <div class="container ptb80">
            <div class="section-title">
                <h2> Conoce al equipo </h2>
                <p style="text-transform: none;">Este es el equipo que te ayudara instalando camaras, reparando dispositivos o ayudarte con información.</p>
            </div>

            <!-- Team Member 1 -->
            <div class="col-md-6 col-sm-6 col-xs-16">
                <div class="member">
                    <div class="member-details">
                        <img src="images/team/team1.jpg" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="member-info-overlay">
                                <h4>Jose Luis Romero</h4>
                                <p>Propietario/Tecnico</p>
                            </div>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Jose Luis Romero</h4>
                        <p>Propietario/Tecnico</p>
                    </div>
                </div>
            </div>
            <!-- End of Team Member 1 -->

            <!-- Team Member 2 -->
            <div class="col-md-6 col-sm-6 col-xs-16">
                <div class="member">
                    <div class="member-details">
                        <img src="images/team/team2.jpg" class="img-responsive" alt="">
                        <div class="overlay">
                            <div class="member-info-overlay">
                                <h4>Kimberly Ureña</h4>
                                <p>Administradora</p>
                            </div>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Kimberly Ureña</h4>
                        <p>Administradora</p>
                    </div>
                </div>
            </div>
            <!-- End of Team Member 2 -->
        </div>
    </section>
    <!-- ===== End of Team ===== -->
    
    <!-- ===== Start of mision and vision ===== -->
    <section class="about-page ptb80">
        <div class="container">
            <div class="section-title">
                <h2>Misión</h2>
                <p style="text-transform: none;">Somos una compañía de seguridad de base tecnológica con consciencia ambiental y compromiso social que ayuda a generar valor y tranquilidad a sus clientes por medio de cámaras y alarmas colocadas por personal altamente calificado, priorizando sus necesidades y satisfacciones.</p> 
                <br />
                <h2>Visión</h2>
                <p style="text-transform: none;">Ser competitivos en el área metropolitana en Seguridad Integral para el 2028, generando confianza, marcando la diferencia en materia de seguridad, utilizando las mejores herramientas tecnológicas, en combinación con el mejor Recurso Humano, para brindar un servicio Eficaz y Eficiente.</p>
            </div>
        </div>
    </section>
    <!-- ===== End of mision and vision ===== -->
    
    <!-- ===== Start of About Page Section 2 ===== -->
    <section id="team">
        <div class="container ptb80">

            <div class="section-title">
                <h2>Nuestras habilidades</h2>
                <p></p>
            </div>

            <!-- Start of Skill Bars Wrapper -->
            <div class="col-md-6 pt40 pb80">
                <!-- Start of Skill Bar -->
                <div class="skillbar clearfix " data-percent="90%">
                    <div class="skillbar-title"><span>Instalación</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- End Skill Bar -->

                <!-- Start of Skill Bar -->
                <div class="skillbar clearfix " data-percent="85%">
                    <div class="skillbar-title"><span>Reparación</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- End Skill Bar -->
            </div>
            <!-- End of Skill Bars Wrapper -->

            <!-- Start of Chart Wrapper -->
            <div class="col-md-6">
                <div class="col-md-6 col-sm-6 col-xs-6 chart mb40" data-percent="90"><span>Instalación</span></div>
                <div class="col-md-6 col-sm-6 col-xs-6 chart mb40" data-percent="85"><span>Reparación</span></div>
            </div>
            <!-- End of Chart Wrapper -->

        </div>
    </section>
    <!-- ===== End of About Page Section 2 ===== -->
    

    <%- include('./partials/footer') %>