<%- include('./partials/header') %>


    <!-- ===== Main Section - Slider ===== -->
    <section class="demo1" id="home">
        <!-- Swiper -->
        <div class="fullscreen">
            <div class="swiper-wrapper">
                <!-- Slide 1 -->
                <div class="swiper-slide overlay-black" style="background: url('images/main-content2.jpg'); background-size: cover;">
                    <div class="slider-content container">
                        <div class="col-md-12">
                            <h2>¡Seguridad al alcance de su mano!</h2>
                            <p>Tu mejor opción para seguridad e instalación de camaras</p>
                        </div>
                    </div>
                </div>
                <!-- End of Slide 1 -->
            </div>
            <!-- End of Swiper Wrapper -->

        </div>
        <!-- End of Swiper Container -->
    </section>
    <!-- ===== End of Main Section - Slider ===== -->


    <!-- ===== Start of About ===== -->
    <section class="pt80" id="about">
        <div class="container">
            <div class="col-md-6">
                <h2 class="ptb20 text-center">¡En SafeHomeCR nos preocupamos por la seguridad de su hogar!</h2>
                <p class="text-center">
                    <ul style="color: white;list-style-type:square;">
                        <li>Nos esforzamos en proteger su hogar de una forma muy profesional y segura, mediante la instalación de alarmas y cámaras de vigilancia</a> de gran desempeño y calidad.</li>
                        <li>Tenga un fácil control de la seguridad de su hogar con aplicaciones a la medida; de  fácil manejo y a un bajo costo.</li>
                        <li>Nos especializamos en instalación de cámaras de vigilancia, alarmas contra robo y todo lo necesario para hacer de su hogar un área segura.</li>
                        <li>Te invitamos a visitar nuestra tienda, para ver algunos de nuestros productos y servicios que te podemos brindar.</li>
                        <li>Personal técnico con alta experiencia y gran servicio al cliente.</li>
                    </ul>
                </p>
            </div>

            <!-- About Image -->
            <div class="col-md-6 about-image">
                <img src="images/SafeHomeCRSinfondo.png" alt="">
            </div>

            <!-- Clouds that are used in the animation -->
            <div class="clouds">
                <img src="images/clouds/cloud1.svg" alt="" class="cloud1">
                <img src="images/clouds/cloud2.svg" alt="" class="cloud2">
                <img src="images/clouds/cloud3.svg" alt="" class="cloud3">
                <img src="images/clouds/cloud1.svg" alt="" class="cloud4">
                <img src="images/clouds/cloud3.svg" alt="" class="cloud5">
            </div>
        </div>
    </section>
    <!-- ===== End of of About ===== -->


    <!-- ===== Start of Services ===== -->
    <section id="services">
        <div class="container ptb80">
            <div class="section-title">
                <h2>Servicios</h2>
                <p style="text-transform: none;">Te mostramos parte de nuestros servicios y todo lo que podemos hacer por ti</p>
            </div>
            
            <!-- 1st Row of Service Section -->
            <div class="row nomargin">
                <div class="col-sm-4 col-xs-12 service text-center pt40">
                    <img src="images/icons/locked.svg" alt="">
                    <h3 class="ptb20">Instalación de camaras</h3>
                    <p>Manten tu casa segura con camaras al rededor de tu casa</p>
                </div>
                <div class="col-sm-4 col-xs-12 service text-center pt40">
                    <img src="images/icons/optimization.svg" alt="">
                    <h3 class="ptb20">Mantenimiento de sistemas</h3>
                    <p>Mantenemos tus sistemas activos en todo momento</p>
                </div>
                <div class="col-sm-4 col-xs-12 service text-center pt40">
                    <img src="images/icons/customer-service.svg" alt="">
                    <h3 class="ptb20">Atención al cliente</h3>
                    <p>Te ayudamos con todas tus dudas acerca de nuestros servicios y precios</p>
                </div>
            </div>
            <!-- End of 1st Row of Service Section -->
        </div>
    </section>
    <!-- ===== End of Service Section ===== -->

    
    <!-- ===== Start of Blog ===== -->
    <section class="ptb80" id="latest-news">
        <div class="container">
            <div class="section-title">
                <h2>Kits de Seguridad</h2>
                <p style="text-transform: none;">En Safe Home tenemos lo que usted necesita para hacer de su hogar un lugar seguro y cómodo. Por eso ofrecemos productos de gran calidad y de alta tecnología. Visite nuestra tienda virtual y escoja su producto de acuerdo a sus necesidades. O bien selecciona uno de nuestros atractivos kits</p>
            </div>
            <div class="col-md-12">
                <!-- start of news content -->
                <div class="row news-content pt30">

                    <!-- start of blog post 1 -->
                    <div class="col-md-4">
                        <article class="blog-single pb30 shadow">
                            <div class="blog-post-thumbnail normal-post hover-link">
                                <a href="Productos"><img src="images/kits/Kit-CCTV-720HD-6-Cámaras-300x300.png" alt=""></a>
                            </div>
                            <div class="blog-post-title pt30 pb10">
                                <h3><a href="Productos">Kits de cámaras</a></h3>
                                
                            </div>
                        </article>
                    </div>
                    <!-- End of blog post 1 -->

                    <!-- start of blog post 2 -->
                    <div class="col-md-4">
                        <article class="blog-single pb30 shadow">
                            <div class="blog-post-thumbnail normal-post hover-link">
                                <a href="Productos"><img src="images/kits/Kit-alarma-intermia-300x300.png" alt=""></a>
                            </div>
                            <div class="blog-post-title pt30 pb10">
                                <h3><a href="Productos">Kits de alarmas</a></h3>
                            </div>
                        </article>
                    </div>
                    <!-- End of blog post 2 -->

                    <!-- start of blog post 3 -->
                    <div class="col-md-4">
                        <article class="blog-single pb30 shadow">
                            <div class="blog-post-thumbnail normal-post hover-link">
                                <a href="Productos"><img src="images/kits/icono-1-300x300.jpg" alt=""></a>
                            </div>
                            <div class="blog-post-title pt30 pb10">
                                <h3><a href="Productos">Tienda virtual</a></h3>
                            </div>
                        </article>
                    </div>
                    <!-- End of blog post 3 -->

                </div>
                <!-- End of news content -->
            </div>
        </div>
    </section>
    <!-- ===== End of Blog ===== -->


    <%- include('./partials/footer') %>