<%- include('./partials/header') %>


    <!-- ===== Main Section ===== -->
    <section class="login-page fullscreen overlay-blue">
        <!-- Main Content -->
        <div class="login-box">

            <form id="login-form">
                <div class="text-center">
                    <h3 class="uppercase">Su contraseña se ha restablecido con éxito</h3>
            </form>
        </div>
        <!-- End of Main Content -->
    </section>
    <!-- ===== End of Main Section =====  -->


    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/simple-expand.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.ajaxchimp.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.easypiechart.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/custom.js"></script>

    </body>

    </html>